* {
  margin: 0;
  padding: 0;
}
.icon-menu {
  display: none;
}
.flex-column-wrap {
  display: flex;
  flex-flow: column wrap;
}
.menu-flop {
  display: none;
}
@font-face {
  font-family: 'Tavolga-Free';
  src: url("../fonts/Tavolgafree.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy-Regular';
  src: url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy-Bold';
  src: url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: 'Gilroy-Medium';
  src: url("../fonts/Gilroy-Medium.ttf") format("truetype");
}
@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url("../fonts/Gilroy-ExtraBold.ttf") format("truetype");
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes scaleCircleOne {
  0% {
    opacity: 0;
    width: 300px;
    height: 300px;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    width: 700px;
    height: 700px;
  }
}
@keyframes pinkColorName {
  0% {
    background-color: #821328;
  }
  100% {
    background-color: #eba8b1;
  }
}
@keyframes pinkColorNumber {
  0% {
    color: #ffffff;
  }
  100% {
    color: #821328;
  }
}
@keyframes scaleProduct {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}
@keyframes scaleProductOut {
  0% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes clubSkew {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes opA {
  0% {
    border-bottom: 1px solid rgba(82, 13, 28, 0.35);
  }
  100% {
    border-bottom: 1px solid #520d1c;
  }
}
body {
  background-color: #ffefef;
  font-family: Gilroy-Regular, sans-serif;
  position: relative;
}
.container {
  max-width: 1170px;
  margin: auto;
}
.header {
  background-color: #eba8b1;
  box-sizing: border-box;
}
.header .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 38px 0 30px 0;
}
.header .images-logo {
  margin-left: 15px;
  cursor: pointer;
}
.header .menu {
  margin-right: 112px;
}
.header .menu-item-some {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
}
.header .menu-item {
  margin: 0 20px 0 20px;
}
.header .item-link {
  text-decoration: none;
  font-size: 14px;
  font-family: "Gilroy-Medium", sans-serif;
  color: #770b1d;
  text-align: left;
  padding-bottom: 4px;
}
.header .item-link:hover {
  animation-name: opA;
  animation-duration: 0.65s;
  animation-fill-mode: forwards;
}
.header .telephone span {
  font-size: 16px;
  font-family: "Gilroy-Bold", sans-serif;
  color: #ffffff;
  text-align: left;
  margin-right: 15px;
  cursor: pointer;
}
.main-select {
  background-color: #eba8b1;
  overflow: hidden;
  box-sizing: border-box;
}
.main-select .container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 127px 0 108px 0;
}
.main-select .info {
  display: flex;
  flex-flow: column wrap;
  margin-left: 15px;
}
.main-select .title {
  font-size: 55px;
  font-family: "Tavolga-Free", sans-serif;
  color: #ffffff;
  line-height: 1.1;
  text-align: left;
  max-width: 585px;
  padding: 17px 0 17px 0;
  position: relative;
  z-index: 3;
}
.main-select .super-info {
  font-size: 18px;
  font-family: "Tavolga-Free", sans-serif;
  color: #ffffff;
  line-height: 1.389;
  text-align: left;
  max-width: 360px;
  padding: 42px 0 42px 0;
  position: relative;
  z-index: 3;
}
.main-select .btn {
  max-width: 240px;
  padding: 22px 41px 22px 41px;
  font-size: 18px;
  font-family: "Gilroy-Bold", sans-serif;
  color: #ffffff;
  text-align: left;
  cursor: pointer;
  background-image: -moz-linear-gradient(90deg, #71081e 0%, #d7485c 100%);
  background-image: -webkit-linear-gradient(90deg, #71081e 0%, #d7485c 100%);
  background-image: -ms-linear-gradient(90deg, #71081e 0%, #d7485c 100%);
  border-radius: 30px;
  border: 0;
  margin-top: 38px;
  position: relative;
  z-index: 3;
}
.main-select .btn:hover {
  box-shadow: 0 5px 9px 1px rgba(130, 19, 40, 0.5);
}
.main-select .images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 37px;
  position: relative;
}
.main-select .images::after {
  content: '';
  display: block;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  border: 2px solid #821328;
  opacity: 0;
  z-index: 2;
  position: absolute;
  animation-name: scaleCircleOne;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-direction: normal;
  animation-iteration-count: infinite;
}
.main-select .images::before {
  content: '';
  display: block;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  border: 2px solid #821328;
  opacity: 0;
  z-index: 2;
  position: absolute;
  animation-name: scaleCircleOne;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-direction: normal;
  animation-iteration-count: infinite;
}
.main-select .images img {
  position: relative;
  z-index: 3;
}
.advantage {
  position: relative;
  z-index: 1;
}
.advantage .container {
  padding: 120px 0 120px 0;
}
.advantage .basic-advantage {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.advantage .text {
  margin-left: 15px;
}
.advantage .title {
  max-width: 475px;
  font-size: 45px;
  font-family: "Tavolga-Free", sans-serif;
  color: #331907;
  line-height: 1.222;
  text-align: left;
}
.advantage .super-info {
  max-width: 402px;
  font-size: 18px;
  font-family: "Gilroy-Regular", sans-serif;
  color: #331907;
  line-height: 1.556;
  text-align: left;
  margin-top: 60px;
}
.advantage .img {
  margin-right: 15px;
  margin-top: 77px;
}
.advantage .product-some {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 87px;
  margin: 83px 15px 0 15px;
}
.advantage .product {
  display: flex;
  flex-flow: column wrap;
  max-width: 221px;
}
.advantage .product:hover .product-name {
  animation-name: pinkColorName;
  animation-duration: 0.35s;
  animation-fill-mode: both;
}
.advantage .product:hover .number {
  animation-name: pinkColorNumber;
  animation-duration: 0.35s;
  animation-fill-mode: both;
}
.advantage .product-name {
  display: flex;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #821328;
}
.advantage .number {
  font-size: 60px;
  font-family: "Gilroy-ExtraBold", sans-serif;
  line-height: 0.75;
  text-align: left;
  color: #ffffff;
  margin-top: 28px;
}
.advantage .product-title {
  font-size: 20px;
  font-family: "Gilroy-ExtraBold", sans-serif;
  color: #331907;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}
.advantage .product-info {
  font-size: 15px;
  font-family: "Gilroy-Medium", sans-serif;
  color: #331907;
  line-height: 1.333;
  text-align: left;
  margin-top: 10px;
}
.magazin {
  background-color: #eba8b1;
}
.magazin .container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 120px 0 120px 0;
}
.magazin .title {
  text-align: center;
  font-size: 45px;
  font-family: "Tavolga-Free", sans-serif;
  color: #ffffff;
}
.magazin .grid-product {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 29px;
  margin: 143px 15px 0 15px;
}
.magazin .item-product {
  display: flex;
  flex-flow: column wrap;
  border: 2px solid #ffffff;
  border-radius: 20px;
  position: relative;
}
.magazin .item-product.item__img {
  animation-name: scaleProductOut;
  animation-duration: 0.38s;
}
.magazin .item-product:hover .item__img {
  animation-name: scaleProduct;
  animation-duration: 0.38s;
  animation-fill-mode: forwards;
  cursor: pointer;
}
.magazin .item-product .product-content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
.magazin .item-product .product-img {
  display: flex;
  align-items: center;
  position: absolute;
  top: -62px;
  z-index: 5;
  width: 195px;
  height: 124px;
}
.magazin .item-product .product-title {
  margin-top: 107px;
  margin-bottom: 26px;
  font-size: 18px;
  font-family: "Tavolga-Free", sans-serif;
  color: #ffffff;
  text-align: center;
}
.magazin .item-product .product-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.magazin .item-product .product-text {
  display: flex;
  flex-flow: column wrap;
  font-size: 15px;
  font-family: "Gilroy-Regular", sans-serif;
  color: #ffffff;
  margin: 0 36px 0 19px;
}
.magazin .item-product .product-punkt {
  margin-bottom: 8px;
}
.magazin .item-product .product-costet {
  margin-top: 8px;
}
.magazin .btn {
  margin: 0 19px 25px 0;
  border: 0;
  padding: 20px 29px 20px 29px;
  border-radius: 25px;
  background-image: -moz-linear-gradient(90deg, #71081e 0%, #d7485c 100%);
  background-image: -webkit-linear-gradient(90deg, #71081e 0%, #d7485c 100%);
  background-image: -ms-linear-gradient(90deg, #71081e 0%, #d7485c 100%);
  font-size: 16px;
  font-family: "Gilroy-Bold", sans-serif;
  color: #ffffff;
  text-align: left;
  cursor: pointer;
}
.form-cost {
  padding: 98px 0 120px 0;
}
.form-cost .content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  position: relative;
}
.form-cost .macarons {
  margin: 107px 0 0 29px;
  position: relative;
}
.form-cost .macarons::after {
  content: url("../img/Club_left.png");
  display: block;
  position: absolute;
  left: -26px;
  top: -27px;
  animation-name: clubSkew;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  z-index: 1;
}
.form-cost .macarons::before {
  content: url("../img/Club_right.png");
  display: block;
  position: absolute;
  left: 1025px;
  top: 350px;
  animation-name: clubSkew;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  z-index: 1;
}
.form-cost .formes {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  margin: 0 165px 0 0;
  z-index: 6;
  position: relative;
}
.form-cost .title {
  font-size: 45px;
  font-family: "Tavolga-Free", sans-serif;
  color: #331907;
  text-align: left;
  max-width: 406px;
}
.form-cost .info {
  font-size: 18px;
  font-family: "Gilroy-Regular", sans-serif;
  color: #331907;
  line-height: 1.556;
  text-align: left;
  max-width: 404px;
  margin: 41px 0 23px 0;
}
.form-cost .title-order {
  font-size: 18px;
  font-family: "Gilroy-Bold", sans-serif;
  color: #120a06;
  text-align: left;
  margin: 25px 0 22px 0;
}
.form-cost .selection {
  font-size: 15px;
  font-family: "Gilroy-Bold", sans-serif;
  color: #760c22;
  text-align: left;
  border-width: 1px;
  border-color: #821328;
  border-style: solid;
  border-radius: 30px;
  padding: 23px 25px 24px 25px;
  width: 294px;
  margin-bottom: 15px;
  box-sizing: border-box;
  position: relative;
}
.form-cost .selection::placeholder {
  font-size: 15px;
  font-family: "Gilroy-Bold", sans-serif;
  color: #760c22;
  text-align: left;
}
.form-cost .btn {
  border-radius: 30px;
  background-image: -moz-linear-gradient(90deg, #71081e 0%, #d7485c 100%);
  background-image: -webkit-linear-gradient(90deg, #71081e 0%, #d7485c 100%);
  background-image: -ms-linear-gradient(90deg, #71081e 0%, #d7485c 100%);
  font-size: 18px;
  font-family: "Gilroy-Bold", sans-serif;
  color: #ffffff;
  text-align: center;
  border: 0;
  cursor: pointer;
  padding: 22px 76px 22px 76px;
  box-sizing: border-box;
  width: 294px;
}
.form-cost .club {
  display: none;
}
.footer {
  background-color: #c0707c;
}
.footer .container {
  padding: 73px 0 63px 0;
}
.footer .content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.footer .logo {
  margin-left: 15px;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}
.footer .logo span {
  margin-top: 19px;
  font-size: 12px;
  font-family: "Gilroy-Regular", sans-serif;
  color: #e3acb4;
  text-align: left;
}
.footer .images-logo {
  margin-top: 7px;
  cursor: pointer;
}
.footer .instagram {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  cursor: pointer;
}
.footer .instagram span {
  margin-top: 15px;
  font-size: 16px;
  font-family: "Gilroy-Bold", sans-serif;
  color: #ffffff;
  text-align: left;
}
.footer .telephone {
  margin-right: 15px;
  font-size: 16px;
  font-family: "Gilroy-Bold", sans-serif;
  color: #ffffff;
  text-align: left;
  cursor: pointer;
}
.present {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  background-image: radial-gradient(circle, #71081e 0%, #d7485c 100%);
  cursor: pointer;
  z-index: 5;
}
.present:hover ~ .present-hov {
  display: block;
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
}
.present-hov {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 130px;
  width: 184px;
  height: 64px;
  background-image: url("../img/Poligons.png");
  background-repeat: no-repeat;
  z-index: 5;
}
.present-hov div {
  margin: 14px 27px 12px 10px;
  font-size: 15px;
  font-family: "Gilroy-Medium", sans-serif;
  color: #770a1d;
  line-height: 1.333;
  text-align: left;
  white-space: pre-wrap;
}
.warn-form-pop {
  margin-bottom: 5px !important;
  margin-left: 15px !important;
  color: red !important;
  margin-top: 5px !important;
}
.warn-form {
  border: 2px solid red !important;
  color: red !important;
  margin-bottom: 0 !important;
}
.shadow {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(30, 15, 30, 0.5);
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.loader {
  width: 100px;
  height: 100px;
  border: 5px solid #ffffff;
  border-bottom-color: #d7485c;
  border-radius: 50%;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  z-index: 20;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.popus {
  display: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 25px;
}
@media screen and (max-width: 1170px) {
  .magazin .grid-product {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 136px;
    justify-items: center;
    margin: 143px 106px 0 106px;
  }
  .magazin .grid-product {
    margin-right: calc(50% - 287px);
    margin-left: calc(50% - 287px);
  }
  .advantage .product-some {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 80px;
    justify-items: center;
    margin-top: 83px;
    margin-right: calc(50% - 271px);
    margin-left: calc(50% - 271px);
  }
  .advantage .product {
    align-items: center;
  }
  .advantage .product-info {
    text-align: center;
  }
  .form-cost .formes {
    margin: 0 0 0 15px;
  }
  .form-cost .img {
    position: absolute;
    left: calc(100% - 420px);
    top: 100px;
  }
  .form-cost .macarons::after {
    top: -21px;
  }
  .form-cost .macarons::before {
    top: -127px;
    left: 212px;
  }
  .form-cost .macarons img {
    max-width: 100%;
  }
}
@media screen and (max-width: 970px) {
  .advantage .basic-advantage {
    flex-flow: column wrap;
    justify-items: center;
    align-items: center;
  }
  .advantage .text {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }
  .advantage .title {
    text-align: center;
  }
  .advantage .super-info {
    text-align: center;
    max-width: 668px;
  }
  .main-select .container {
    display: block;
    padding: 56px 0 420px 0;
    position: relative;
  }
  .main-select .images {
    position: absolute;
    top: 345px;
    left: 280px;
  }
}
@media screen and (max-width: 840px) {
  .form-cost .macarons {
    width: 352px;
    height: 394px;
  }
  .form-cost .img {
    top: 200px;
  }
  .main-select .images {
    left: 185px;
  }
}
@media screen and (max-width: 768px) {
  .advantage .img {
    margin-right: 0;
  }
  .advantage .img img {
    max-width: 302px;
    max-height: 183px;
  }
  .header .telephone {
    display: none;
  }
  .header .menu {
    margin-right: calc(100% - 540px);
  }
}
@media screen and (max-width: 736px) {
  .present .container {
    display: none;
  }
  .form-cost .macarons {
    display: none;
  }
  .form-cost .content {
    justify-content: center;
  }
  .form-cost .formes {
    margin-left: 15px;
  }
  .form-cost .selection {
    max-width: 344px;
  }
  .form-cost .btn {
    max-width: 344px;
  }
  .form-cost .club {
    display: block;
    position: absolute;
    top: 140px;
    left: 408px;
    animation-name: clubSkew;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    z-index: 5;
  }
  .form-cost .info {
    max-width: 380px;
  }
}
@media screen and (max-width: 648px) {
  .main-select .container {
    padding: 56px 0 108px 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  .main-select .info {
    margin-right: 15px;
    align-items: center;
  }
  .main-select .images {
    position: static;
    margin-right: 0;
    max-width: 384px;
    max-height: 370px;
    margin-top: 38px;
  }
  .main-select .title {
    text-align: center;
    max-width: 435px;
  }
  .main-select .super-info {
    text-align: center;
    max-width: 435px;
  }
  .advantage .text {
    margin-right: 15px;
  }
}
@media screen and (max-width: 576px) {
  .magazin .grid-product {
    grid-template-columns: 1fr;
    margin-right: 15px;
    margin-left: 15px;
  }
  .advantage .product-some {
    margin-left: 15px;
    margin-right: 15px;
    grid-column-gap: 40px;
  }
  .form-cost .club {
    left: calc(100% - 204px);
  }
  .header .menu {
    display: none;
  }
  .icon-menu {
    display: flex;
    width: 40px;
    height: 26px;
    margin-right: 15px;
    cursor: pointer;
  }
  .menu-flop {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
    background: #000000c9;
    z-index: 800;
  }
  .menu-flop .close {
    display: block;
    width: 24px;
    height: 24px;
    fill: #c0707c;
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .menu-flop.open {
    display: flex;
    align-items: center;
  }
  .menu-flop ul {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    list-style: none;
    text-align: center;
  }
  .menu-flop ul li {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .menu-item-flop a {
    font-size: 18px;
    color: #c0707c;
    text-decoration: none;
  }
}
@media screen and (max-width: 466px) {
  .footer .content {
    display: grid;
    grid-template-columns: 1fr;
  }
  .footer .logo {
    align-items: center;
    margin-left: 0;
    margin-bottom: 20px;
  }
  .footer .instagram {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .footer .telephone {
    margin-top: 20px;
    margin-right: 0;
    text-align: center;
    grid-row: 2 / 3;
  }
  .advantage .product-title {
    text-align: center;
  }
  .advantage .product-some {
    grid-column-gap: 15px;
  }
  .form-cost .club {
    left: calc(100% - 97px);
    top: 195px;
  }
  .main-select .images {
    max-width: 250px;
    max-height: 207px;
  }
}
/*@import "theme.less";*/
